[Unit]
Description=test
DefaultDependencies=no
Documentation=http://nginx.org/en/docs/
After=systemd-vconsole-setup.service
Wants=systemd-vconsole-setup.service

[Service]
Environment=HOME=/
Environment=DRACUT_SYSTEMD=1
Environment=NEWROOT=/sysroot
WorkingDirectory=/
Type=oneshot
RemainAfterExit=yes
ExecStart=-/sbin/test.sh
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
